<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="track.css">
    <title>Document</title>
</head>
<body>
    <div class="full-width-content">
        <div class="navbar bg-success-subtle">INI NAVBAR</div>
        <div class="row mx-0 px-0" style="background-color: #FFF7F6;">
            <div class="col d-flex justify-content-center pt-3">
                <div class="progress color">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">70%</div>
                </div>
            </div>
            <div class="col pe-5">
                <div class="main-text fs-1 fw-bold pt-5">
                    Usia si kecil 30 minggu, <br>dia sudah sebesar semangka !
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto placeat perferendis, neque cumque, et nemo quam magnam aperiam praesentium maxime ut maiores consequuntur autem non. Totam earum non, voluptatem possimus laudantium iusto voluptatum officia porro labore esse modi quidem distinctio necessitatibus dolorum, eos eligendi cumque, omnis architecto ducimus placeat nulla. Nemo consequuntur atque ullam. Dicta itaque iste ducimus doloribus consequuntur sapiente corrupti nobis molestias fuga! Ut ipsum vitae asperiores in accusamus tempora placeat, quae voluptates tempore culpa corrupti accusantium natus ratione eaque neque? Ipsa perspiciatis vitae, est, quia tempore facilis saepe voluptatibus iusto obcaecati, error alias illum quo nobis aspernatur.
                </div>
            </div>
        </div>
        <div class="row mx-0 px-0" style="background-color: #78A2CC;">
            <img src="../../../public/img/awan.png" alt="">
        </div>
        <div class="footer bg-success-subtle">INI FOOTER</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>